<div class="text-viewer--header">
    <div class="container">
        <div class="row">
            <div class="header--block">
                <div class="header--images">
                    <ul>
                        <li>
                            <img src="" alt="">
                        </li>
                    </ul>
                </div>
                <div class="header--sides">
                    <div class="header--left-side"></div>
                    <div class="header--right-side">
                        <button class="btn btn-light">info</button>
                        <button class="btn btn-light">imgs</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>