<div class="viewer-header">
    <div class="container">
        <div class="header-block row">

            <!-- <div class="header-block"> -->
                <div class="header-content col-md-8 offset-md-2">

                    <div class="header-images">
                        <ul class="header-images-ul row">
                            <li class="col-sm-4">
                                <img src="test-img.png" alt="">
                            </li>
                            <li class="col-sm-4">
                                <img src="test-img.png" alt="">
                            </li>
                            <li class="col-sm-4">
                                <img src="test-img.png" alt="">
                            </li>
                            <li class="col-sm-4">
                                <img src="test-img.png" alt="">
                            </li>
                            <li class="col-sm-4">
                                <img src="test-img.png" alt="">
                            </li>
                            <li class="col-sm-4">
                                <img src="test-img.png" alt="">
                            </li>
                        </ul>
                    </div>

                    <div class="header-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nisi animi hic commodi autem? 
                            Ducimus qui in, perspiciatis, quia amet minus, cumque aliquid eos iusto similique quaerat delectus maiores ipsam!
                        </p>
                    </div>
                </div>

                <div class="header-left-side col-md-2">
                    <button class="btn btn-light">info</button>
                    <button class="btn btn-light">imgs</button>
                </div>
            <!-- </div> -->

        </div>
    </div>
</div>