<div class="secret-word-modal">
    <div class="container">
        <div class="secret-word-block row">

            <!-- <div class="header-block"> -->
            <div class="col-md-8 offset-md-2">
                <div class="secret-word-content">
                    <div class="secret-word-info" *ngIf="activeView == 'info'; else imgView">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nisi animi hic commodi
                            autem?
                            Ducimus qui in, perspiciatis, quia amet minus, cumque aliquid eos iusto similique quaerat
                            delectus maiores ipsam!
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="secret-word-left-side">
                    <button class="btn btn-light" (click)="showInfoView()">
                        <i class="fas fa-info"></i> 
                    </button>
                    <button class="btn btn-light" (click)="showImgView()">
                        <i class="fas fa-image"></i> 
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="secret-word-input">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <ng-template #imgView>
        <div class="secret-word-images">
            <ul class="secret-word-images-ul row">
                <li class="col-sm-4">
                    <img src="/assets/test-img.png" alt="">
                </li>
                <li class="col-sm-4">
                    <img src="/assets/test-img.png" alt="">
                </li>
                <li class="col-sm-4">
                    <img src="/assets/test-img.png" alt="">
                </li>
                <li class="col-sm-4">
                    <img src="/assets/test-img.png" alt="">
                </li>
                <li class="col-sm-4">
                    <img src="/assets/test-img.png" alt="">
                </li>
                <li class="col-sm-4">
                    <img src="/assets/test-img.png" alt="">
                </li>
            </ul>
        </div>
    </ng-template>
</div>